@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fff;
  background-color: #1c1e21;
  margin-top: 100px;
}

ion-icon {
  font-size: 32px;
  margin-right: 10px;
}

.nav-container {
  background-color: #131416;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  top: 0;
  right: 0;
  position: fixed;
  text-align: center;
  height: 60px;
  width: 100%;
  z-index: 10;
}
.nav-container img {
  display: none;
}

.ul-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.ul-nav .a-nav {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.ul-nav .a-nav:after {
  background: #fff;
  display: block;
  position: absolute;
  content: "";
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  left: 50%;
  height: 2px;
  width: 0;
  bottom: 0;
}
.ul-nav .a-nav:hover:after {
  width: 100%;
  left: 0;
}

section {
  padding-inline: 15vw;
  padding-top: 70px;
  padding-bottom: 35px;
}

section:nth-child(odd) {
  background-color: #18191c;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.profile-container a {
  text-decoration: none;
}

.profile-content {
  font-size: 1.5em;
  text-decoration: none;
  letter-spacing: 0.15em;
}

.profile-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-icon {
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

.stack-container {
  color: #fff;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-left: 30px;
}
.about-text .content {
  letter-spacing: 0.05em;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(149, 149, 252);
  letter-spacing: 0.15em;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #131416;
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  border-radius: 24px;
}

.card img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: inherit;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  opacity: 0.75;
  margin-bottom: 10px;
}

.card button {
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.card button:hover {
  background-color: #272727;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.skills {
  background-color: #131416;
  padding-block: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  border-radius: 24px;
  text-align: center;
}
.skills p {
  font-size: 20px;
  font-weight: bold;
  padding-block: 8px;
}

.skills-icon {
  height: 50px;
  width: 50px;
  margin-inline: 0.5em;
}

.experiences-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.experiences-container .card {
  align-items: start;
}

.experiences-img img {
  height: 40px;
  width: 40px;
  margin-inline: 0.5em;
  margin-top: 10px;
  margin-bottom: 0;
  object-fit: contain;
}

.contact-container {
  font-size: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.contact-content {
  display: flex;
  flex-direction: column;
}
.contact-content a {
  display: flex;
  width: fit-content;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #131416;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  border-radius: 10px;
  padding: 10px;
  resize: none;
  width: 100%;
}
.contact-form .input-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.contact-form .input-form input {
  margin-left: 15px;
}
.contact-form .input-form input:nth-child(2) {
  margin-right: 15px;
}
.contact-form textarea {
  margin-top: 10px;
}
.contact-form button {
  width: 100px;
  font-weight: bold;
}
.contact-form button:hover {
  background-color: #272727;
}

footer {
  background-color: #131416;
  font-weight: bold;
  padding-inline: 15vw;
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}
footer a {
  margin-left: 15px;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
